<div class="mainDiv">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithImg">
          <img src="https://static.wikia.nocookie.net/naruto/images/7/71/Kirivillage.png/revision/latest?cb=20110629193911&path-prefix=ru">
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithText">
          <p>
            Деревня Скрытого Облака (яп. 雲隠れの里, Кумогакурэ но Сато;
            Буквальное значение: Деревня, Скрытая Облаками) — скрытая деревня
            Страны Молнии, основанная Первым Райкаге. Как деревня одной из Пяти
            Великих Стран Шиноби, Скрытое Облако имеет Каге в качестве своего лидера,
            известного как Райкаге, которых за всю историю поселения было пятеро.
            Деревня располагается в цепи высоких гор и буквально скрыта в облаках.
            Офис Райкаге располагается в большой синей постройке, заложенной в горе.
            Кумогакурэ была основана после завершения Эпохи Воюющих Держав первым Райкаге.
            На первом собрании пяти Каге, первый Хокаге Конохи Хаширама Сенджу в знак дружбы,
            и для баланса сил в новосозданных поселениях, передал в распоряжение Кумо двух хвостатых зверей
            – восьмихвостого Гьюки и двуххвостого Мататаби. Во время Первой мировой войны шиноби Кумо и
            Конохагакуре оказались по разные стороны баррикад. Попытка заключить мирный договор была
            сорвана братьями Кинкаку и Гинкаку, посягнувших на жизнь второго Райкаге и второго Хокаге.
            Некоторое время спустя отряд Кикнаку пошел в наступление на второго Хокаге и, в конце концов,
            повергли правителя Конохи. Через несколько десятков лет Кумо снова вступила в бой с Конохой,
            зачастую при участии Эя на стороне Кумо и Минато Намиказе на стороне Конохи. После смерти третьего
            Райкаге, павшего в схватке против 10 тысяч вражеских шиноби, Эй стал четвертым Райкаге.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>