<div>
    <div class="carusel-block">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://pm1.narvii.com/7491/d360b8dbd2d7d6ddc0398d0b0b8e3c83541cdd78r1-2048-1152v2_uhq.jpg" alt="" class="konoha-img">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/25/39/ee/2539eea01d304d2808850afd419b4038.png" alt="" class="konoha-img">
                </div>
                <div class="carousel-item">
                    <img src="https://i.playground.ru/i/pix/2700105/image.jpg" alt="" class="konoha-img">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
        <h1>Великие страны</h1>
    </div>
    <hr>
    <div class="about-kage">
        <h2>Подробнее о главах стран</h2>
        <div class="kage-in-country">
            <div class="naruto">
                <img src="https://getwallpapers.com/wallpaper/full/1/2/a/1373114-vertical-hokage-naruto-wallpaper-1920x2160-for-windows-7.jpg" alt="">
                <p>
                    Узумаки Наруто — главный герой манги и аниме, 
                    житель Конохи. В него запечатал Девятихвостого 
                    демона-лиса Кьюби Намиказе Минато, четвертный Хокаге.
                </p>
            </div>
            <div class="gaara">
                <img src="https://i.pinimg.com/originals/65/e2/5d/65e25da8a1a0b9dda0821ca00dbfb0d0.jpg" alt="">
                <p>
                    Гаара - это человек с которым жестоко обошлась судьба, 
                    при рождении по приказу отца в его теле заточили 
                    демона-тануки Сюкаку. Поэтому к Гааре относились не как 
                    к человеку а как к ужасному оружию деревни песка, у которого нет чуств.
                </p>
            </div>
            <div class="raicage">
                <img src="https://pm1.narvii.com/7161/1cb613c31525c74780b1ba59bb9d1e1af9ba3020r1-700-611v2_hq.jpg" alt="">
                <p>
                    Эй является четвёртым Райкаге, сыном Третьего Райкаге. 
                    Когда в его детстве в соответствии с давней традицией 
                    Эю выбирали напарника, только один ребёнок соответствовал ему по силе.
                </p>
            </div>
        </div>
    </div>
</div>
    
