<div class="mainDiv" style="background-image: url(http://pm1.narvii.com/7491/d360b8dbd2d7d6ddc0398d0b0b8e3c83541cdd78r1-2048-1152v2_uhq.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithImg" style="text-align: center; padding-top: 50px;">
          <img src="https://pm1.narvii.com/6918/b092f4169b8d63624797a1729e61f7ed49c23395r4-586-293_00.jpg" style="border-radius: 5px; box-shadow: 0 0 15px 12px black">
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithText" style="text-align: center; width: 800px; margin: auto; margin-top: 20px; color: aliceblue; text-shadow: 5px 5px 1px black">
          <p>

            Деревня Скрытого Листа (яп. 木ノ葉隠れの里, Конохагакурэ но Сато; досл. "Деревня, Скрытая Древесной Листвой") — скрытая деревня Страны Огня. Как деревня одной из Пяти Великих Стран Шиноби, Скрытый Лист имеет Каге в качестве своего лидера, известного как Хокаге, которых за всю историю деревни было семеро. Коноха располагается глубоко в лесу у подножья горы, известной как Скала Хокаге, где выгравировано лицо каждого шиноби, занимавшего пост Хокаге.[1] Изображённая, как правило, сильнейшей деревней ниндзя,[2] Коноха долгое время наслаждалась относительным миром и стабильностью.

            Стандартная одежда для шиноби Конохи состоит из синих или черных рубашек, которые могут иметь или не иметь вихревых узоров на плечах, а также подходящие цветные штаны под зеленой курткой, которая также имеет красный вихрь на спине и карманы на груди, Они также склонны обматывать бинты вокруг своих ног.
          </p>
          <p>
            Деревня была основана первым Хокаге - Хаширамой Сенджу и его другом Учиха Мадарой в Стране Огня примерно за 70 лет до начала событий сериала, после того, как лидеры обоих кланов решили прекратить вековую вражду. После конфликта с Хаширамой, Мадара покинул деревню и некоторое время жил в изгнании, но вскоре вернулся с подчиненным ему Девятихвостым Демоном-Лисом, а затем начал было громить деревню, но вмешавшийся Хаширама вступил в бой с Мадарой и увел его подальше от деревни в Долину Завершения, где якобы убил Легендарного Учиху. Младший брат первого Хокаге, Тобирама Сенджу после весьма разрушительного боя между Хаширамой и Мадарой практически заново отстраивал деревню, а через несколько лет получил титул Второго Хокаге, и после нескольких лет правления избрал своим преемником Хирузена Сарутоби, назначив его Третьим Хокаге, который, в свою очередь, через несколько десятков лет правления избрал следующим, Четвертым Хокаге Минато Намиказе.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>