.mainDiv{
  background-image: url(http://pm1.narvii.com/7491/d360b8dbd2d7d6ddc0398d0b0b8e3c83541cdd78r1-2048-1152v2_uhq.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.divWithImg{
  text-align: center;
  padding-top: 50px;
  border-radius: 5px;

}
.imgKonoha{
  border-radius: 5px; box-shadow: 0 0 15px 12px black
}
.divWithText{
  text-align: center;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  color: aliceblue;
  text-shadow: 5px 5px 1px black
}