<div class="mainDiv">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithImg">
          <img src="http://narutoall.ru/uploads/posts/2014-05/1401220376_image194466509.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="divWithText">
          <p>
            Сунагакуре была основана после окончания Эпохи Воюющих Государств Первым Казекаге,
            который собрал шиноби, живущих в пустыне, под свой контроль, обладая абсолютной властью.
            Вскоре после создания системы скрытых деревень прошло собрание пяти Каге.
            Одной из тем собрания было распределение хвостатых зверей между деревнями,
            инициированное первым Хокаге Конохи. Однако, Суна уже имела в своем распоряжении Однохвостого,
            и, вместо ещё одного, потребовала часть плодородных земель Страны Огня и 30% скидки на налог,
            который деревни будут обязаны платить за хвостатых. Несмотря на то, что первый Хокаге желал сохранить мир,
            началась война мирового масштаба и вражда шиноби глубоко укоренилась. Суна граничила с Ивагакуре,
            что приводило к многочисленным конфликтам на протяжении годов. Во время Второй Мировой Войны Шиноби
            Чиё всячески пыталась отравить вражеские силы, но ей постоянно противодействовала Цунаде из Конохи
            В период войн Суна исследовала различные типы техник, которые дали бы ей преимущество над другими селениями.
            Особо популярной техникой среди тамошних шиноби была Техника Марионетки, а потому деревня начала работать в
            этом направлении. В частности, был создан Отряд Кукловодов, в котором проводили эксперименты по оживлению
            марионеток.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>